<div class="buttons d-flex flex-column">
    <button class="btn btn-secondary actionBtn" routerLink="/home">Home</button>
    <button class="btn btn-secondary actionBtn" (click)="logout()">Sign out</button>
</div>


<h3>List of users</h3>


<div>
    <table class="project-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td class="linkToProjects" (click)="openProjectList(user.username)">{{user.username}}</td>
                <td>{{user.email}}</td>
                <td><button class="delete" (click)="delete(user.id)">x</button></td>
            </tr>
        </tbody>
    </table>
</div>